* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
}

main {
  width: 450px;
  padding: 0rem 0rem 0rem 0rem;
  background-color: rgba(130, 183, 210, 0.175);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

main h1 {
  font-size: 2.2rem;
  background-color: rgb(130, 184, 210);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
  color: #1b1b1b;

  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.43);
  font-weight: bold;
}

input,
button {
  font-family: "Roboto Mono", monospace;
  border: none;
  border-radius: 3px;
  background-color: rgb(130, 184, 210);
  font-size: 0.9rem;
  cursor: pointer;
}

.text-input,
.date-input {
  padding: 0.2rem;
}

.submit-button {
  width: 90%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.countdown-container {
  width: 100%;
}

.countdown-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.7rem;

  background-color: rgb(130, 184, 210);
  border-radius: 8px;
  padding-top: 0.1rem;
}

.countdown-card-container h2 {
  align-self: flex-start;
  padding-left: 1.7rem;
  letter-spacing: 0.15rem;
}

.countdown-card-container button {
  width: 100%;
  margin-top: 0.4rem;
  padding: 0.4rem;
  background-color: rgba(122, 122, 122, 0.894);
  color: #ffffff;
}

p {
  font-size: 1.33rem;
  padding: 0.2rem;
}

span {
  font-size: 0.95rem;
  opacity: 0.8;
  position: absolute;
  left: 10%;
  letter-spacing: 0.1rem;
}

.hide-button {
  position: absolute;
  top: 33%;
  left: 87%;
  font-size: 2.7rem;
  cursor: pointer;
}
